
*.class

Serverless Distributed Backup Service/\.idea/

Serverless Distributed Backup Service/out/production/Serverless Distributed Backup Service/\.idea/

*.iml

Serverless Distributed Backup Service/out/production/Serverless Distributed Backup Service/META-INF/
